header{
  background: rgb(43,43,43);
  background: linear-gradient(180deg, rgba(43,43,43,1) 35%, rgba(3,3,3,1) 100%);
  padding: 10px 415px 0 415px;

}
.logo-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
