<main>
  <div id="main-container">

      <div class="content-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate!
      </div>
      <div class="content-info">
        <p>Admin</p>
        <p>20 Jan 2025</p>
        <p>10 comentários</p>
        <p>Tecnologia</p>
      </div>
      <div class="content-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit illum vel repellendus fugit deserunt animi sapiente recusandae velit nobis temporibus nisi cum minima ea labore possimus, accusantium sequi odio placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quisquam! Suscipit autem dicta tempora laborum, repellendus placeat hic accusamus ea aspernatur incidunt repudiandae corrupti sapiente nemo nihil sint? A, consequatur!</p>
      </div>
    </div>
  <app-sidebar></app-sidebar>
</main>
