<main>
  <div id="main-container">
    <app-title title="POSTAGENS MAIS RECENTES"></app-title>
    <ng-container *ngFor="let post of posts">
      <app-post
        [id]="post.id"
        [postCover]="post.cover"
        [postTitle]="post.title"
        [postText]="post.text"
        [postUser]="post.user"
        [postDate]="post.date"
        [postDay]="post.day"
        [postComments]="post.comments"
        [postCategory]="post.category">
      </app-post>
    </ng-container>

  </div>
  <app-sidebar></app-sidebar>
</main>
