<main>
  <div id="main-container">
    <app-title title="POSTAGENS MAIS RECENTES"></app-title>
    <app-post
    postCover="https://cdn.pixabay.com/photo/2015/09/04/23/28/wordpress-923188_1280.jpg"
    postTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate!"
    postText="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate! Recusandae tempore tenetur dignissimos minima neque impedit sunt nesciunt itaque debitis maxime laboriosam vel, corporis unde magnam pariatur architecto repudiandae!"
    postUser="Admin"
    postDate="20 Jan 2025"
    postDay="20"
    postComments="10"
    postCategory="Tecnologia"
    >
    </app-post>

    <app-post
    postCover="https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762_1280.jpg"
    postTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate!"
    postText="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate! Recusandae tempore tenetur dignissimos minima neque impedit sunt nesciunt itaque debitis maxime laboriosam vel, corporis unde magnam pariatur architecto repudiandae!"
    postUser="Admin"
    postDate="18 Jan 2025"
    postDay="18"
    postComments="6"
    postCategory="Tecnologia"
    >
    </app-post>

    <app-post
    postCover="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
    postTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate!"
    postText="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, voluptate! Recusandae tempore tenetur dignissimos minima neque impedit sunt nesciunt itaque debitis maxime laboriosam vel, corporis unde magnam pariatur architecto repudiandae!"
    postUser="Admin"
    postDate="15 Jan 2025"
    postDay="15"
    postComments="12"
    postCategory="Tecnologia"
    >
    </app-post>
  </div>
  <app-sidebar></app-sidebar>
</main>
