

<div class="post-container">
  <div class="post-header">
    <div class="post-date">
      <p>{{postDay}}</p>
    </div>
    <div class="post-title-info">
      <div class="post-title">
        <p>{{postTitle}}</p>
      </div>
      <div class="post-info">
        <p>{{postUser}}</p>
        <p>{{postDate}}</p>
        <p>{{postComments}} comentários</p>
        <p>{{postCategory}}</p>
      </div>
    </div>
  </div>
  <div class="post-content">
    <div class="post-img">
        <img src="{{postCover}}" alt="imagem post" srcset="">
    </div>

    <div class="post-txt">
      {{postText}}
    </div>
  </div>
  <div class="post-footer">
    <button type="submit" class="btn-read">Ler mais...</button>
  </div>
</div>

