#category-menu{
  padding: 10px;
  background-color: #FFF;
  margin: 20px 0 0 20px;
  border-bottom: 3px solid #E1e1e1;
}

h2{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

ul{
  list-style: none;
  color: #000;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454545;
  color: #E1E1E1;
  padding: 10px;
  margin-top: 5px;
}

li p{
  color: #FFD502;
  font-weight: 600;
}
